.result-container {
    margin-top: 20px;
    padding: 20px;
    border: 8px solid #0a0a0a;
    border-radius: 10px;
    background: #058c9e;
}
  
.word {
    font-size: 60px;
    color: #0a0a0a;
    margin-bottom: 10px;
    text-align: center;
}
  
.phonetics ul,
.meanings ul {
    list-style-type: none;
    padding-left: 10 px;
    /* color: #020202; */
}
  
.card {
    margin-top: 10px;
    padding: 10px;
    border: 5px solid #020202;
    border-radius: 8px;
    background: #653e97ee;
}
  
.example {
    font-style: italic;
    color: #99aaf5;
}
  
.loading,
.error,
.empty {
    margin-top: 20px;
    font-size: 1.1rem;
    color: #312828;
    text-align: center;
}
  
.app-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    font-family: Arial, sans-serif;
    background-color: bisque;
}
  
.title {
    text-align: center;
    color: #1e1e1e;
    margin-bottom: 20px;
}
  