body {
  background-color: #747bff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  color: white;
}

.app-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 16px;
  margin-top: 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: 2px solid #139cf7;
  width: 60%;
}

.search-button {
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #1a9edb;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.search-button:hover {
  background-color: #147dbd;
}
